.about-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: white;
    color: #90dcb4;
}

.hero-section {
    background-color: #90dcb4;
    color: white;
    padding: 50px 20px;
    position: relative;
    text-shadow: 1px 1px 2px #000; /* Text outline */
}

.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000; /* Text outline */
}

.hero-section p {
    font-size: 1.2em;
    text-shadow: 1px 1px 2px #000; /* Text outline */
}

.wave {
    display: inline-block;
    animation: wave-animation 2s infinite;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.meet-the-team-section {
    margin: 50px 0;
    background-color: #333; /* Darker background color */
    padding: 20px;
    color: white; /* Text color change for readability */
    text-shadow: 1px 1px 2px #000; /* Text outline */
}

.meet-the-team-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000; /* Text outline */
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    margin: 10px;
    text-align: center;
    width: calc(50% - 40px); /* Adjust width to make space for two per row */
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.model-viewer-section {
    margin: 50px 0;
}

.model-viewer {
    background-color: #f0f0f0;
    padding: 50px 20px;
    border: 1px solid #ccc;
    color: #333; /* Text color for readability */
    text-shadow: 1px 1px 2px #000; /* Text outline */
}

.animated-leaf-section {
    margin: 50px 0;
    position: relative;
}

.animated-leaf-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #90dcb4; /* Text color for readability */
}

.leaf-emojis {
    display: flex;
    justify-content: center;
}

.leaf-emoji {
    font-size: 2em;
    animation: float 5s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
