.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(245, 200, 236,0.4), rgba(184, 220, 240,0.4));

}

/* .map{
  width: 50%;
  margin: auto;
} */

/* .map{

  width: 50%;
  margin: auto;

} */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

