.log-in-background {

    /* background-image: linear-gradient(to bottom right, rgba(80, 180, 152,0.4), rgba(107, 243, 168, 0.4)); */
    /* background-color: white; */
    background: linear-gradient(135deg, 
      rgba(70, 133, 133, 0.3) 0%,   /* darker teal */
      rgba(80, 180, 152, 0.3) 33%,  /* teal */
      rgba(156, 219, 166, 0.3) 66%, /* green */
      rgba(222, 249, 196, 0.3) 100% /* light green */
    );
    background-size: cover;
    transform: translate(0px, -32.5px);
    height: 750px;
}

.log-in-container {

    font-size: 25px;
    transform: translate(0px, 100px);

}
